body {
  color: black;
}

img {
    width: 100%;
    height: auto;
    border: 0;
    object-fit: contain;
}

.nav3 {
    background-color: white;
    height: auto;
    width: 100%;
    float: center;
    padding-left: 0;
}

#Factorio {
    position:relative;
    width: 64px;
    height: 64px;
   }

#Factorio a:hover {
    background: #C93;
    display: block;

 }
